In [12]:
# list of high schools
# high_schools = ["Hernandez high School","Figueroa High School",
                "Wilson High School","Wright high School"]
# print(f"{high_schools[0]}\n{high_schools[1]}\n{high_schools[2]}\n{high_schools[3]}")
for school in high_schools:
 print(school)

Hernandez high School
Figueroa High School
Wilson High School
Wright high School

In [15]:
# A dictionary of high schools and the type of school
#high_schools_type = [{"High_school":"Griffin","Type":"District"},
                 {"High_schoo":"figueroa","Type":"District"},
                 {"High_school":"wilson","Type":"Charter"},
                 {"High_school":"wright","Type":"Charter"}]
# print(high_schools_type)
for school in high_schools_type:
    print(school)

{'High_school': 'Griffin', 'Type': 'District'}
{'High_schoo': 'figueroa', 'Type': 'District'}
{'High_school': 'wilson', 'Type': 'Charter'}
{'High_school': 'wright', 'Type': 'Charter'}

In [16]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [22]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [41]:
import pandas as pd

In [43]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [75]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [76]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [60]:
# Three separate lists of information on high schools
#school_id = [0, 1, 2, 3, 4]

#school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

#type_of_school = ["District", "District", "Charter", "District","Charter"]
school_door = {"SCHOOL ID":school_id,"SCHOOL NAME":school_name,"SCHOOL TYPE":type_of_school}

In [61]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame(school_door)
schools_df

#schools_df["School id"] = school_id
#schools_df["SCHOOL NAME"] = school_name
#schools_df["SCHOOLS TYPE"] = type_of_school
#schools_df

   SCHOOL ID            SCHOOL NAME SCHOOL TYPE
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [79]:
schools_df.columns
schools_df.index
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [92]:
schools_id = [0, 1, 2, 3, 4,5,6,7,8,9,10,11]

schools_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School","sterling high school","fairfax high school","herdon high school","alexdend high school","ali high school","david high school","kh high school"]

type_of_schools = ["District", "District", "Charter", "District","Charter","Charter","Charter","Charter","Charter","District","District","District"]

In [93]:
myschool_df = pd.DataFrame()
myschool_df["SCHOOL ID"] = schools_id
myschool_df["SCHOOL NAME"] = schools_name
myschool_df["SCHOOL TYPE"] = type_of_schools
myschool_df

    SCHOOL ID            SCHOOL NAME SCHOOL TYPE
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5   sterling high school     Charter
6           6    fairfax high school     Charter
7           7     herdon high school     Charter
8           8   alexdend high school     Charter
9           9        ali high school    District
10         10      david high school    District
11         11         kh high school    District